# Ignore virtual environments, has both venv and .venv depending on how each person's virtual environment is named
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment and IDE files
.env
*.env
.vscode/
.idea/
db.sqlite3