{% extends "base_bootstrap.html" %}

{% block content %}
<h1>Profile Page of {{ display_name }}</h1>
{% if user.username != request.user.username %}
    {# message button if viewing someone's profile#}
    <a href="{% url 'chat' username=user.username %}" class="btn btn-primary mb-3">
        Message {{ user.username }}
    </a>
{% endif %}
<p class="fst-italic">Placeholder for profile picture</p>
<div class="row py-3">
    <div class="col-3">
        <div class="card p-2 text-center">
            <p class="fw-bold">Number of times you have recycled</p>
            <div class="display-3">
                {% if user.profile.most_used_bin_id %}
                <p>{{ user.profile.total_usage_count }}</p>
                {% else %}
                <p>N/A</p>
                {% endif %}
            </div>
            <p class="text-muted">Total uses of all recycling bins</p>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-2 text-center">
            <p class="fw-bold">Number of recycling bins used</p>
            <div class="display-3">
                {% if user.profile.total_bins_used %}
                <p>{{ user.profile.total_bins_used }}</p>
                {% else %}
                <p>N/A</p>
                {% endif %}
            </div>
            <p class="text-muted">Unique bins you've recycled at</p>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-2 text-center">
            <p class="fw-bold">Most used recycling bin</p>
            <div class="display-3">
                {% if user.profile.get_most_used_bin_name %}
                <p>{{ user.profile.get_most_used_bin_name }}</p>
                {% else %}
                <p>N/A</p>
                {% endif %}
            </div>
            <p class="text-muted">Your favorite recycling spot</p>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-2 text-center">
            <p class="fw-bold">Number of posted recycling bins</p>
            <div class="display-3">
                {% if user.profile.posted_bins_count %}
                <p>{{ user.profile.posted_bins_count }}</p>
                {% else %}
                <p>N/A</p>
                {% endif %}
            </div>
            <p class="text-muted">Bins you've added to the map</p>
        </div>
    </div>
    {% for bin in bins %}
    <div class="bin">
        <h3>{{ bin.name }}</h3>
        <p>Location: {{ bin.latitude }}, {{ bin.longitude }}</p>
        <p>Posted by: {{ bin.posted_by.username }}</p>
        {% if bin.posted_by != user %}
            <a href="{% url 'chat' username=bin.posted_by.username %}" class="btn btn-secondary">
                Message Author
            </a>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}