{% load static %}
{% load socialaccount %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if title %}
            <title>Hoos Recycling | {{ title }}</title>
        {% else %}
            <title>Hoos Recycling</title>
        {% endif %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'recycling-map' %}">Hoos Recycling</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link {{ recycling_map_active }}" aria-current="page" href="{% url 'recycling-map' %}">Recycling Map</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link {{ community_active }}" href="{% url 'community' %}">Community</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                            <a class="nav-link {{ profile_active }}" href="{% url 'recycling-profile' first_name=user.first_name user_id=user.id %}">Profile</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link {{ messages_active }}" href="{% url 'messaging:inbox' %}">Messages</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <div class="btn dropdown">
                            <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, {{ user.first_name }}
                            <img src="{{ user.profile.image.url }}" alt="Profile picture" class="rounded-circle" width="35" height="35">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if user.staff or user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Dashboard</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form method="post" action="{% url 'account_logout' %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item text-danger">Sign Out</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="btn btn-outline-success" href="{% provider_login_url 'google' %}">Sign in with Google</a>
                    {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>

