{% extends 'recycling/base.html' %}

{% block content %}
    <h2>Update Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="Profile picture" class="rounded-circle mb-3" width="150" height="150">
        {% endif %}
        {{ image_form.as_p }}
        <button type="submit" name="update_image" class="btn btn-primary">Update Profile Picture</button>
    </form>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ name_form.as_p }}
        <button type="submit" name="update_name" class="btn btn-primary">Update Name</button>
    </form>
    <h3>Edit Bio</h3>
    <form method="POST">
        {% csrf_token%}
        {{ bio_form.as_p}}
        <button type = "submit" name="update_bio" class = "btn btn-primary">
            Save Bio
        </button>
    </form>
    <hr>
{% endblock %}
